Body{
	background-color:lightcoral ;
}
h1{
	font-size: 50px;
	color: #27D7D3;
	background: #090E0E;
}
h2{
	color: darkred;
	font-size: 30px;
}
.big{
	font-size: 80px;

}
.uppercase{
	text-transform: uppercase;

}
.big.uppercase{
	color: navy;

}
h1 span{
	color: violet;

}
	